.DS_Store

/.idea/*
!/.idea/codeStyleSettings.xml
!/.idea/codeStyles
!/.idea/dictionaries
!/.idea/inspectionProfiles
!/.idea/encodings.xml
!/.idea/modules.xml
!/.idea/csv-utils.iml
!/.idea/php.xml
!/.idea/vcs.xml
